streamlit==1.57.0
langchain==0.1.14
langchain-community==0.0.38
langchain-core==0.1.53
langchain-groq==0.1.5
langchain-huggingface==0.0.3

faiss-cpu==1.13.2
sentence-transformers==5.4.1
transformers==4.46.3
huggingface-hub==0.23.5

python-dotenv==1.2.2
googletrans==4.0.0rc1
deep-translator==1.11.4
gtts==2.5.4

folium==0.20.0
streamlit-folium==0.27.2
geocoder==1.38.1
requests==2.33.1

torch
numpy==1.26.4
pandas==3.0.2
scikit-learn==1.8.0
