streamlit
folium
streamlit-folium
requests
geocoder
langchain
langchain-groq
langchain-huggingface
faiss-cpu
sentence-transformers
python-dotenv
deep-translator
gtts
streamlit-mic-recorder
speechrecognition
httpx
pydub
folium
streamlit-folium
requests